# eGov SSO
EGOVSSO_BASE_URL="https://hackathon-sso.e.gov.ph"
EGOVSSO_PARTNER_CODE=""
EGOVSSO_PARTNER_SECRET=""
EGOVSSO_SAMPLE_PORT="3000"
EGOVSSO_SESSION_TTL_SECONDS="3600"

# Optional override for the bundled BIR Form 1901 PDF template
BIR_FORM_1901_TEMPLATE_PATH=""

# eVerify
EVERIFY_BASE_URL="https://hackathon-everify-api.e.gov.ph"
EVERIFY_CLIENT_ID=""
EVERIFY_CLIENT_SECRET=""
EVERIFY_PUBKEY=""

# eMessage
EMESSAGE_BASE_URL="https://ws-message.e.gov.ph"
EMESSAGE_ACCESS_TOKEN=""

# eGov AI
EGOVAI_ACCESS_CODE=""
EGOVAI_BASE_URL="https://egov-ai-core-ws.oueg.info"

# eGovPay
EGOVPAY_BASE_URL="https://egovpay-pgi-ws-dev.oueg.info"
EGOVPAY_API_KEY=""
EGOVPAY_SETTLEMENT_TEMPLATE_UUID=""

# eReport
EREPORT_ACCESS_TOKEN=""
EREPORT_BASE_URL="https://stg-ereport-ws.oueg.info"

# Face Liveness
EGOVLIVENESS_BASE_URL="https://hackathon-face-liveness-api.e.gov.ph"
EGOVLIVENESS_API_KEY=""

# Compass
EGOVCOMPASS_API_KEY=""
EGOVCOMPASS_BASE_URL="https://dbm-ws.oueg.info"
